.idea
build
target
logs/
ci/.flattened-pom.xml
it/.flattened-pom.xml

.DS_Store

.vscode

# Rell libs
src/lib/*
!src/lib/test/begin_block/
!src/lib/test_alt_config/
!src/lib/begin_block/
!src/lib/transaction_prioritization/

# Personal Dev
.devcontainer
.envrc
*.secret

.rell_lint

# Claude Code local files
*CLAUDE.local*
.claude/*.local.*
