.idea
build
target
logs/
ci/.flattened-pom.xml
it/.flattened-pom.xml

.DS_Store

# Rell libs
src/lib/*
!src/lib/icmf/
!src/lib/iccf/
!src/lib/test/
!src/lib/test_alt_config/
!src/lib/begin_block/
!src/lib/transaction_prioritization/

# Personal Dev
.devcontainer
.envrc
*.secret

.rell_lint

# Claude Code
/.claude/settings.local.json
