# Specify a default Code Owner for all files with a wildcard:
* @eugene.tykulov @mikael.staldal.cw @robert_wideberg @johan.nilsson @andrei.ursu1

# Staking
/src/economy_chain/economy_chain_staking*.rell @alfredpersson @thomas.barker1
/src/economy_chain/test/economy_chain_staking*.rell @alfredpersson @thomas.barker1
